.header {
  color: white;
  font-size: large;
  font-weight: bold;
}

.test{
  align-items: stretch;
}
.modal{
  min-width: 60vw;
}


body > #root > div {
  height: 100vh;
}
.textArea-wrapper{
  /* background-color: #ffff5fff; */
  padding: 1em;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}


.icon {
  padding: 5px;
}